<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A django app</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        header { background-color: #333; color: white; padding: 10px; text-align: center; }
        nav { background-color: #444; padding: 10px; text-align: center; }
        nav a { color: white; margin: 0 10px; text-decoration: none; }
        footer { background-color: #333; color: white; padding: 10px; text-align: center; position: fixed; bottom: 0; width: 100%; }
        main { padding: 20px; }
    </style>
</head>
<body>
    <header>
        <h1>My Simple Web Page</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="">Submissions</a>
    </nav>
    <main>
        <h2>All submissions</h2>
        <ul>
            {% for submission in submissions %}
            <li>Name: {{ submission.name }}  Email: {{ submission.email }}</li><br>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>Contact us: sandip@mail.com</p>
    </footer>
</body>
</html>
